body{
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 16px;
   
}

header img{
    width: 150pix;
    height: 150px;
    border-radius: 50%;
    border: 5px solid greenyellow;

}

h1{
    color: rgb(255, 134, 47);
}

footer img{
  width: 40px;
  height: 40px;
  
}

.center{
  text-align: center;
}

footer{
  display: flex;
  justify-content: center;

}

footer a{
  margin: 20px;
  text-align: center;
}

.conteiner{
  padding: 0px 50px;
}

nav a:hover{
color : green;
}